#main {
    text-align: center;
    padding-left: 15vw; /*the entire page is 100vw, 15vw is 15% of the page*/
    padding-right: 15vw;
}

.container{
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.page-divider {
    width : 100%;
}

.flex-center {
    justify-content: center;
}

#editor {
    border: 1px solid black;
}

#input {
    border: 0px;
    width: 100%;
    height: 95%;
}

#input:focus {
    outline: 0px;
}

#send-note-container {
    text-align: right;
}

#send-note-btn {
    background-color: rgb(216, 215, 215);
    border-radius: 50%;
    border-width: 0px;
    padding: 5px;
    cursor: pointer;
}

#notes {
    margin: 0;
    padding: 0;
}

#notes > li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 20px;
    border: 1px solid black;
}

.inner-container {
    width: 60%;
    height: 150%;
    justify-content: center;
}

#notes-header {
    gap: 5px;
}